@model HappinessMetric.Models.UserViewModel
@{
    ViewBag.Title = "Happiness Metric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<form class="container" id="homehappiness">
    <div class="row">
        <h4 class="col-sm-9">Please provide the ratings</h4>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <label>How happy are you with your team?</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="5" />VeryHappy
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="4" />Happy
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="3" />Satisfactory
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="2" />UnHappy
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="1" />Very UnHappy
                    </p>
                </div>
                <br />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What feels best right now?</label>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("BestFeel", null, new { @class = "clrVal col-sm-11" })</div>
            <br />
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What feels worst right now?</label>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("WorstFeel", null, new { @class = "clrVal col-sm-11" })</div>
            <br />
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What would increase your happiness index?</label>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("IncreaseHappiness", null, new { @class = "clrVal col-sm-11" })</div>
        </div>
    </div>
    <br />
    <div class="col-sm-12">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-2">
            <input type="button" value="SUBMIT" id="btnSubmit" name="submit" class="btn btn-primary" />
            <input type="reset" value="CLEAR" id="btnClear" name="Clear" class="btn btn-info" />
        </div>

    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#btnSubmit').on('click', function () {
            debugger;
            var data = {
                Project: 'MedClarity',
                Sprint: '58',
                Developer: '@Model.UserName',
                HappyRatingwithTeam: $('input[name="Rating"]:checked').val(),
                FeelsBest: $.trim($("#txtBestFeel").val()),
                FeelsWorst: $.trim($("#txtWorstFeel").val()),
                IncreaseHappiness: $.trim($("#txtIncreaseHappiness").val())
            };
            $.post("/Home/Index", data)
                            .done(function (data) {
                                ClearInputs();
                                if (data.hasUserSubmittedForCurrentSprint) {
                                    alert("Feedback already submitted for current sprint");
                                }
                            });
        });
    });
</script>
