@model HappinessMetric.Models.UserViewModel
@{
    ViewBag.Title = "Happiness Metric";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentSprint = HappinessMetric.Utilities.SprintCalculator.GetSprintFromDate(DateTime.Now);
}
<script src="~/Scripts/jquery.toast.js"></script>
<script src="~/Scripts/alert.js"></script>
<form class="container" id="homehappiness">
    <div class="row">
        <h4 class="col-sm-6">Please provide the ratings</h4>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <label>How happy are you with your team?</label><span style="color: red;">*</span>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="5" />VeryHappy
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="4" />Happy
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="3" />Satisfactory
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="2" />UnHappy
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="radio-inline">
                        <input type="radio" name="Rating" value="1" />Very UnHappy
                    </p>
                </div>
                <br />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What feels best right now?</label><span style="color: red;">*</span>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("BestFeel", null, new { @class = "clrVal col-sm-11", @id = "txtBestFeel" })</div>
            <br />
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What feels worst right now?</label><span style="color: red;">*</span>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("WorstFeel", null, new { @class = "clrVal col-sm-11", @id = "txtWorstFeel" })</div>
            <br />
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="margin-top: 30px;">
                <label>What would increase your happiness index?</label><span style="color: red;">*</span>
            </div>
            <div class="col-sm-8" style="margin-top: 3px !important;">@Html.TextArea("IncreaseHappiness", null, new { @class = "clrVal col-sm-11", @id = "txtIncreaseHappiness" })</div>
        </div>
    </div>
    <br />
    <div class="col-sm-12">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-2">
            <input type="button" value="SUBMIT" id="btnSubmit" name="submit" class="btn btn-primary" />
            <input type="reset" value="CLEAR" id="btnClear" name="Clear" class="btn btn-info" />
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#btnSubmit').on('click', function () {
            if (!$("input:radio[name='Rating']").is(":checked")) {
                alert("error", "Please select rating");
                return false;
            }
            else if ($.trim($("#txtBestFeel").val()) == '') {
                alert("error", "Please enter \"What feels best right now?\" ");
                $("#txtBestFeel").focus();
                return false;
            }
            else if ($.trim($("#txtWorstFeel").val()) == '') {
                alert("error", "Please enter \"What feels worst right now?\" ");
                $("#txtWorstFeel").focus();
                return false;
            }
            else if ($.trim($("#txtIncreaseHappiness").val()) == '') {
                alert("error", "Please enter \"What would increase your happiness index?\"");
                $("#txtIncreaseHappiness").focus();
                return false;
            }

            var data = {
                Project: 'MedClarity',
                Sprint: parseInt('@Model.CurrentSprint'),
                Developer: '@Model.UserName',
                HappyRatingwithTeam: $('input[name="Rating"]:checked').val(),
                FeelsBest: $.trim($("#txtBestFeel").val()),
                FeelsWorst: $.trim($("#txtWorstFeel").val()),
                IncreaseHappiness: $.trim($("#txtIncreaseHappiness").val())
            };
            $.post("/Home/Index", data)
                                        .done(function (data) {
                                            if (data.hasUserSubmittedForCurrentSprint) {
                                                alert("warning", "Feedback already submitted for current sprint");
                                                $("#btnClear").click();
                                            }
                                            else {
                                                alert("success", "Rating successfully submitted");
                                                $("#btnClear").click();
                                            }
                                        });
        });
    });

</script>
